<!DOCTYPE html>
<html>
  <title>Login</title>
  <body bgcolor="#FFFACD">
  <form name="MY Form" action="/adlogin" method="post">
  username<input type="text" id="username" name="username">
  <br>password<input type="password" id="pasword" name="password">
  <br>
  {{error}}
  <br>
  <input type="submit"name="button1" value="login">
  </form>
  </body>
</html>
