<!DOCTYPE html>
<html>
  <title>Login</title>
<body bgcolor="#FFFACD">
  <form name="MY Form" action="/login" method="post">
  House_no<input type="text" id="flat_id" name="flat_id">
  <br>password<input type="password" id="password" name="password">
  <br>
  <input type="submit"name="button1" value="login" onclick="window.location.href='./choise';return false;">
  </form>
  </body>
</html>
